@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Need to change this for the other divs maybe a new container */
    gap: 16px;
}

h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    /* Change Header Logo color */
}

p {
    color: #E5E7EB;
}

button.signup-hero {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100px;
    border: 1px solid royalblue;
    color: white;
    background: royalblue;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 16px;
    flex-direction: column;
    gap: 32px;
}

.hero-container {
    max-width: auto;
    margin: auto;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.hero-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: gray;
}

.middle {
    display: flex;
    background-color: white;
    padding: 16px;
    flex-direction: column;
    gap: 32px;
}

.middle-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
}

.middle_header {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.text {
    color: #b2b7bc;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid royalblue;
    border-radius: 15px;
    color: royalblue;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}