@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Need to change this for the other divs maybe a new container */
    gap: 16px;
}

h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: black
}

a {
    text-decoration: none;
    color: #E5E7EB;
    /* Change Header Logo color */
}

p {
    color: #E5E7EB;
}

button.signup-hero {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100px;
    border: 1px solid royalblue;
    color: white;
    background: royalblue;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 16px;
    flex-direction: column;
    gap: 32px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    gap: 50px;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.hero-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: gray;
}

.middle-container {
    max-width: 1100px;
    margin: 0 auto;
}

.middle {
    display: flex;
    background-color: white;
    padding: 16px;
    flex-direction: column;
    gap: 32px;
}

.middle-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    gap: 100px;
}

.middle_header {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.text {
    color: #b2b7bc;
    text-align: center;
}

.square {
    width: 100px;
    height: 100px;
    border: 3px solid royalblue;
    border-radius: 15px;
    color: royalblue;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    gap: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E5E7EB;
    padding: 60px 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
}

.quote-bottom {
    display: flex;
    justify-content: right;
}

.quote-top {
    max-width: 800px;
}

.calltoaction {
    display: flex;
    background-color: white;
    padding: 16px;
    flex-direction: column;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px;
    gap: 100px;
}

button.signup-cta {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100px;
    border: 1px solid white;
    color: white;
    background: #3882F6;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.end_header {
    font-weight: bold;
}