body {
    font-family: Roboto;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    margin-bottom: 32px;
    border-radius: 10px;

}